div#container{
    background-color: tomato;
    display: flex;
    flex-direction: ;
}

div.boxes{
    background-color: black;
    color: rgb(235, 204, 164);
    width: 50px;
    padding: 10px;/*o tamanho do que esta dentro seja expandido*/
    margin: 10px 10px 10px 10px;
    text-align: center;
}