<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Index</title>
</head>
<body >
    <main>
        <%- include ('./partials/header.ejs') %> 
        <% hqs.forEach(element => { %>
            <a href="/detalhes.ejs/<%= element.id %> ">
                <div class="card-container">
                    <div class="container-img">
                        <img src="<%=element.img%>" alt="">
                    </div>
                    <div class="container-title">
                        <%= element.nome  %> 
                    </div>
                </div>
            </a>
            
        <% }) %>





        <!-- <div class="img-fundo"><img src="https://lh3.googleusercontent.com/myVRZzUKm5rWB93zPDx6xLRna_W-D0I4OWbd5Uqd0TXQN3zvBz1DquZ6BxzSgWsMcuEEaFpFdsaAk4zmLYb-Cd3tqvkuIIHvgT8SOVx6sBVerU-FB9evbpWhj7IexECs4WqaVE7kJGdW2RQabq9S4pBQf8r3yvHo3QGWiaq8ka57TTqUG-ATHHhWz9_GWcRQ2aTGeaQui4s-avxcOqCokkaDsWxfn6Uzb6aO8jZDCUDChrPNDA5M2Ar5KnFHu8W20Wc348yLdQh5wjpK2ncfUQTXPKmhdDGQs-jgzz4xnBMogCaY4kBqqQ78ctzmci1aFKwi3NXi-YP7fLqYt79wx8CiYXn0MpO8HIpauO-dYM9CZYh3zJBXaYCKgs43Q8yiUO4vBVqvJi6z0kkNHbS60gF2jfFsf1rrWoflfQYaD_1YToLNB6f0MR2wFetHJMq116r9TEX1UfaRV8i__hSliVkxy0G7unYWmCHumbR3mYxiLUgcz5Q_MMPhUOzJ1_3uxnuPoUKR3SwuqcENz0YaPLNiUHT6AQCRfIYWF_gtC_Ms205U6lDRSvTZN4AnRr-2kFRR-41Hvj4cTLYK_ZN26aFMUrlpee_Wb5LzBfB34k_3Tr_ucRkdOxwvMJiVA1UMYF_qlRrMSIKHmpdIVq-kfRlL9zOahNK5h3LMR4KjFngHUz9bs6cwWr1GoMoZAJ4Sptv7OMEJLceQbhF70WhSUbnC3ds5_9DnWiERk9PFs1M5EEDifrS-hWDJriu5=w1008-h567-no?authuser=0" /></div> -->
    </main>
</body>
</html>