/*cores padrao:
#055864
#026C7C
#B81365
#BFAB25
#6A0136
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #b81365;
}

header {
    background-color:#055864 ;
    height: 7.5%;
    width: 100%;
    align-items: center;
}

h1{
    text-align: center;
    color: #BFAB25;
    font-size: 4rem;
    text-shadow: .3rem .3rem #048a9e;
    font-family: 'Trebuchet MS' ;
}

h3{
    text-align: center;
    color: #ffdd00;;
    font-family: 'Trebuchet MS' ;
    text-shadow: .2rem .2rem #048a9e;
}

.container{
    text-align: center;
}

button{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Trebuchet MS' ;
    background-color: #055864;
    border: 2px solid #ffdd00;
    color: #BFAB25;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    
}

img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 8%;
    border-radius: 3rem;
    transform: scaleX(-1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#txt{
    font-size: 300%;
}